input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=button] {
    background-color: #4CAF50;
    color: white;
}

.container {
    background-color: #f1f1f1;
    padding: 20px;
}

#requiredCharacters {
    display: none;
    background: #f1f1f1;
    color: #000;
    padding: 20px;
    margin-top: 10px;
}

.valid {
    color: green;
}

.valid:before {
    padding-right: 1em;
    content: "\2714";
}

.invalid {
    color: red;
}

.invalid:before {
    padding-right: 1em;
    content: "\2716";
}

#passIdent {
    visibility: hidden;
}